{% extends "casa/layouts/journey.njk" %}

{% block head %}
  {{ super() }}
  {% include "partials/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "components/header.njk" %}
{% endblock %}